/* simple-stylesheet.css */

hr {color:green;}
table.mytable {text-decoration:underline;
	border-collapse:separate;
	border-spacing:9px 9px;}
body {background: url("../src/images/neptune.jpg");
	background-repeat:no-repeat;}
p {color: #FFFFFF;}
